# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_urlurl
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# NextAuth
NEXTAUTH_URL=https://pet-rating.vercel.app
NEXTAUTH_SECRET=your_nextauth_secret_generate_with_openssl_rand_base64_32

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
